.caption {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a8b1ba;
}

.rules-link {
  font-size: 19px;
  line-height: 22px;
  margin-right: 10px;
  color: #31a6ea;
}
.pdf {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;

  color: #9ab5c4;
  text-decoration: none;
  font-weight: 700;
}

.demo-box {
  padding: 20px;
  display: inline-block;
}

.btn {
  border: none;
  border-radius: 200px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  outline: none !important;
  color: #ffffff;
  position: relative;
  padding: 17px 46px;
  cursor: pointer;
  &:active {
    top: 1px;
  }

  &--gradient {
    background: linear-gradient(105.74deg, #24aeff 0%, #b478ff 100%);
    &:hover {
      box-shadow: 0px 12px 20px rgba(134, 138, 255, 0.5);
    }
  }
  
  &--green {
    background: #71CB00;
    &:hover {
      box-shadow: 0px 12px 20px rgba(152, 213, 0, 0.592);
    }
  }

  &--blue {
    background: #24AEFF;
    &:hover {
      box-shadow: 0px 12px 20px rgba(36, 174, 255, 0.38);
    }
  }

  &--purple {
    background: #B478FF;
    &:hover {
      box-shadow: 0px 12px 20px rgba(180, 120, 255, 0.352);
    }
  }
}

