.form {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  margin-top: -320px;
  min-height: 5000px;
  padding: 0 20px;
  @media (min-width: 1024px) {
    padding: 0;
    margin-top: -210px;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &__header {
    font-size: 49px;
    color: #ffffff;

    &-info {
      font-size: 17px;
      position: relative;
      padding-left: 30px;
      font-family: "GloberM", Helvetica, sans-serif;
      margin-top: 10px;
      &:after {
        content: "";
        height: 22px;
        width: 22px;
        background: url("../img/info_outline.svg");
        position: absolute;
        left: 0;
        top: -4px;
      }
    }
  }

  &__section {
    margin-bottom: 90px;
  }

  &__banner {
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.102);
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    padding: 81px 20px 20px 20px;
    margin-bottom: 50px;

    @media (min-width: 1024px) {
      width: 658px;
      height: 121px;
      padding: 40px 50px 40px 150px;
      text-align: left;
    }

    &::before {
      border-radius: 4px 4px 0 0;
      line-height: 77px;
      font-size: 40px;
      text-align: center;
      font-family: "GloberM xBold", Helvetica, sans-serif;
      content: "!";
      color: #fff;
      background: #eb001c;
      height: 61px;
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      @media (min-width: 1024px) {
        right: auto;
        height: 121px;
        width: 121px;
        line-height: 145px;
        font-size: 70px;
        border-radius: 4px 0 0 4px;
      }
    }
  }

  h2 {
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 25px;
  }

  textarea {
    height: 145px;
    resize: none;
  }

  &__row {
    display: flex;
  }

  &__full {
    max-width: 820px;
  }

  &__group {
    width: 400px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    .input {
      margin-bottom: 30px;
    }
  }

  &__hint {
    line-height: 22px;
    color: #333;
    font-size: 14px;
    p {
      margin-top: 0;
    }
    &--padded {
      padding: 17px 0;
    }
  }

  &__table {
    display: flex;
    max-width: 825px;
    margin-bottom: 15px;

    .input__text {
      height: auto;
      box-shadow: none;
      display: block;
      background: transparent;
      border-color: none !important;
      ::-webkit-scrollbar {
        display: none;
      }
    }

    &--4cols {
      .form__table-box:nth-child(2) {
        width: 20%;
      }
      .form__table-box:nth-child(3) {
        width: 26%;
      }
      .form__table-box:nth-child(4) {
        width: 20%;
      }
    }
  }

  &__table-box {
    width: 33%;
    margin-right: 0.5%;
    background: #f0f2f3;
    border-radius: 4px;
    &:last-child {
      margin-right: none;
    }
  }

  &__add-table-row {
    background: transparent;
    border: none !important;
    font-size: 16px;
    color: #31a6ea;
    position: relative;
    display: block;
    padding-left: 30px;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    &:hover {
      opacity: 0.9;
    }
    &::before {
      content: "+";
      height: 19px;
      width: 19px;
      text-align: center;
      color: #fff;
      background: #31a6ea;
      display: block;
      border-radius: 50%;
      line-height: 23px;
      font-size: 23px;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: normal;
    }
  }

  &__bottom-banner {
    background: #ffffff;
    box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.102);
    border-radius: 10px;
    padding: 55px;
    text-align: center;
    h2 {
      margin-bottom: 35px;
      font-size: 30px;
    }
    p {
      font-size: 19px;
      line-height: 27px;
      text-align: center;
      color: #000000;
      margin: 0 auto 23px;
      max-width: 457px;
    }
  }

  &__bottom-hint {
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    margin: 46px auto 0;
    width: 560px;
  }
}

.footer--form {
  height: 894px;
  margin: -630px auto 0;
  background-image: url("../img/footer-form.png");
  background-position: center center;
  background-size: 1440px 894px;
  background-repeat: no-repeat;
  padding-top: 630px;

  h3 {
    color: #fff;
  }

  .footer__link {
    color: #fff;
    border-color: #fff;
  }
}
