.background {
  background-image: url(../img/background.png);
  background-size: 1920px 931px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 931px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.page {
  max-width: 1440px;
  border: solid 1px black;
  margin: 0 auto;
  position: relative;
  height: 5000px;
}

.logo {
  width: 511px;
  height: 294px;
  background: url(../img/logo.svg);

  position: absolute;
  left: 10%;
  top: 300px;
}

.header {
  height: 931px;

  &__left {
    margin: 61px 20px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 42px;
    }
  }
}

.caption {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a8b1ba;
}

.business {
  margin-top: 155px;
  article {
    width: 475px;
    margin-left: 240px;
  }

  h2 {
    font-size: 49px;
    line-height: 58px;
    color: #333;
    margin: 14px 0;
  }

  p {
    font-size: 22px;
    line-height: 37px;
    margin: 26px 0;
  }
}
