.container {
  max-width: 1440px;
  // border: solid 1px black;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 511px;
  height: 294px;
  background: url(../img/logo.svg);

  position: absolute;
  left: 10%;
  top: 300px;
}

.header {
  background-image: url(../img/background.png);
  background-size: 1920px 931px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 931px;
  width: 100%;
  font-weight: 600;

  &__left {
    margin: 61px 0 0 60px;
    float: left;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 42px;
    }
  }

  &__right {
    margin: 98px 20px;
    float: right;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 42px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  &__layer {
    height: 275px;
    width: 385px;
    background: url(../img/header-layer.png) no-repeat;
    position: absolute;
    top: 276px;
    right: 18%;
    padding: 36px 40px;
    text-align: center;

    p {
      font-size: 19px;
      line-height: 31px;
      text-align: center;
      font-weight: 600;
      color: #000000;
    }
  }
}

.lang-link {
  display: inline-block;
  opacity: 0.5;
  text-decoration: none;
  margin-right: 18px;
  img,
  span {
    vertical-align: middle;
  }
  span {
    color: white;
  }
  &.is-active {
    opacity: 1;
  }
}

.business {
  margin-top: 155px;
  position: relative;

  &__dash {
    position: absolute;
    left: 50%;
    top: -225px;
    margin-left: -101px;
  }
  &__img {
    float: right;
    margin: -39px 9px;
  }
  &__footer {
    padding: 21px 0;
    .btn {
      margin-bottom: 30px;
    }
  }
  article {
    width: 475px;
    margin-left: 240px;
  }

  h2 {
    font-size: 49px;
    line-height: 58px;
    color: #333;
    margin: 14px 0;
  }

  p {
    font-size: 22px;
    line-height: 37px;
    margin: 26px 0;
  }
}

.ideas {
  margin-top: 102px;
  position: relative;
  text-align: center;

  .clouds {
    background-image: url(../img/clouds.png);
    background-size: 1920px 375px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 375px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 273px;
  }

  article {
    text-align: center;
    width: 570px;
    margin: 0 auto;
  }
  &__dash {
    position: absolute;
    left: 50%;
    top: -162px;
    margin-left: -66px;
  }
  &__img {
    margin: 35px 0;
  }
  h2 {
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-bottom: 35px;
  }

  p {
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: #000000;
  }
}

.smi {
  margin-top: 155px;
  position: relative;

  &:after {
    display: table;
    clear: both;
    content: "";
  }

  &__dash {
    position: absolute;
    left: 50%;
    top: -113px;
    margin-left: -44px;
  }
  &__img {
    float: left;
    margin: 42px 0 0 54px;
  }
  &__footer {
    padding: 21px 0;
    .btn {
      margin-bottom: 30px;
    }
  }
  &__links {
    float: right;
    margin: 21px 0 0 0px;
    text-align: right;
  }
  article {
    width: 456px;
    margin: 106px 0 0 37px;
    padding: 0;
    float: left;
  }

  h2 {
    font-size: 49px;
    line-height: 58px;
    color: #333;
    margin: 14px 0;
  }

  p {
    font-size: 22px;
    line-height: 37px;
    margin: 26px 0;
  }
}

.plan {
  margin-top: 201px;
  position: relative;
  &__item {
    height: 600px;
    padding-top: 85px;
    position: relative;
  }

  &__dash {
    position: absolute;
    left: 50%;
    top: -169px;
    margin-left: -264px;
  }
  &__img {
    position: absolute;
    top: 8px;
    right: 143px;
    z-index: -1;
  }
  article {
    width: 370px;
    margin: 0 0 0 136px;
    float: left;
  }

  h2 {
    font-size: 49px;
    line-height: 58px;
    color: #333;
    margin: 9px 0 17px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 0 0 10px 0;
  }
}

.register {
  .mountains {
    background-image: url(../img/mountains.png);
    background-size: 1920px 802px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 802px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top:-380px;
  }

  margin-top: 231px;
  padding-top: 67px;
  position: relative;
  text-align: center;

  &__dash {
    position: absolute;
    left: 50%;
    top: -184px;
    margin-left: -40px;
  }

  h2 {
    font-size: 49px;
    line-height: 56px;
    color: #333333;
    margin: 0;
  }

  &__row {
    margin-top: 104px;
  }

  &__box {
    display: inline-block;
    width: 360px;
    height: 471px;
    background: #ffffff;
    box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.17);
    border-radius: 20px;
    position: relative;
    padding: 97px 40px 0;
    margin: 0 17px;
    img {
      position: absolute;
      top: -37px;
      margin-left: -60px;
      left: 50%;
    }
    h3 {
      font-size: 30px;
      line-height: 39px;
      text-align: center;

      color: #585e65;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;

      color: #333333;
      margin-bottom: 42px;
    }
  }
}

.footer {
  margin: 155px 0 74px;
  text-align: center;
  h3 {
    font-size: 19px;
    line-height: 28px;
    text-align: center;

    color: #333333;
  }
  &__social {
    display: flex;
    justify-content: center;
    padding: 9px 0 0 0;
    margin: 0 0 43px 0;
    li {
      display: block;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &__link {
    font-size: 15px;
    line-height: 22px;
  }
}
