.background {
  background-image: url(../img/background.png);
  background-size: 1920px 931px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 931px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.page {
  max-width: 1440px;
  border: solid 1px black;
  margin: 0 auto;
  position: relative;
  height: 5000px;
}

.logo {
  width: 511px;
  height: 294px;
  background: url(../img/logo.svg);

  position: absolute;
  left: 12%;
  top: 300px;
}
