.winning-team {
	.container {
		max-width: 1000px;
  }
  @media (min-width: 1000px) {
    margin-top: -700px;
  }
  margin-top: -820px;

	& + .compensation {
		margin-top: 0;
	}

	img {
		border-radius: 50%;
		border: 3px solid white;
	}

	&__header {
		font-family: GloberM;
		font-size: 49px;
		line-height: 56px;
		color: white;
		margin-bottom: 22px;
		text-align: center;
	}

	&__block {
		position: relative;
		background-color: white;
		border-radius: 10px;
		margin: 0 0 70px;
		padding: 42px;
		&:after {
			display: table;
			content: "";
			clear: both;
		}

		text-align: center;

		@media (min-width: 1000px) {
			text-align: inherit;
			margin: 0 0 70px;
		}
	}

	&__avatar {
		position: absolute;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		top: 0;
		@media (min-width: 1000px) {
			margin: 0;
			position: static;
			float: left;
			margin-right: 20px;
		}
	}

	&__title {
		font-family: GloberM;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;

		text-transform: uppercase;

		color: #a8b1ba;
  }
  
  &__small-title {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
  }

	&__list {
		li {
			display: inline-block;
			width: 30px;
			position: relative;
			z-index: 1;
			&:hover {
				z-index: 2;
			}
		}
	}

	.winning-team__block--wide {
		// cols
		.winning-team__captain {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
			margin-bottom: 10px;
			@media (min-width: 1000px) {
				width: 30%;
				float: left;
			}
		}
		.winning-team__others {
			margin-bottom: 10px;
			@media (min-width: 1000px) {
				width: 20%;
				float: left;
			}
		}
		.winning-team__info {
			margin-bottom: 10px;
			@media (min-width: 1000px) {
				width: 35%;
				float: left;
			}
		}
		.winning-team__check {
			display: none;
			margin-bottom: 10px;
			@media (min-width: 1000px) {
				width: 15%;
				float: left;
				text-align: center;
				display: block;
			}
		}
	}
	.winning-team__block--sm {
    &.is-active {
      background: #89C42D;
      img {
        border-color: transparent;
      }
      &  * {
        color: white !important;
      }
    }
    box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.102);
    margin-bottom: 70px;

		.winning-team__captain {
			margin-bottom: 20px;
		}

		@media (min-width: 1000px) {
      margin-bottom: 20px;
			padding-left: 115px;
			position: relative;
			.winning-team__avatar {
				position: absolute;
				left: 40px;
				top: 30px;
			}
		}
	}

	&__col {
		padding: 0 10px;

		@media (min-width: 1000px) {
			float: left;
			width: 50%;
		}
	}

	&__row {
		margin: 0 -10px;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
	}
}
