.winning-team {
	margin-top: -700px;
	& + .compensation {
		margin-top: 0;
	}

	img {
		border-radius: 50%;
		border: 3px solid white;
	}

	&__header {
		font-family: GloberM;
		font-size: 49px;
		line-height: 56px;
		color: white;
		margin-bottom: 22px;
		text-align: center;
	}

	&__block {
    position: relative;
		background-color: white;
		border-radius: 10px;
    margin: 0 20px 70px;
		padding: 42px;
		&:after {
			display: table;
			content: "";
			clear: both;
    }

    text-align: center;
    
    @media (min-width: 1000px) {
      text-align: inherit;
      margin: 0 0 70px;
		}
	}

	&__avatar {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    top: 0;
    @media (min-width: 1000px) {
      margin: 0;
      position: static;
      float: left;
      margin-right: 20px;
		}
	}

	&__title {
		font-family: GloberM;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;

		text-transform: uppercase;

		color: #a8b1ba;
	}

	&__list {
		li {
			display: inline-block;
			width: 30px;
			position: relative;
			z-index: 1;
			&:hover {
				z-index: 2;
			}
		}
	}

	// cols
	&__captain {
    &:after {
			display: table;
			content: "";
			clear: both;
    }
    margin-bottom: 10px;
		@media (min-width: 1000px) {
			width: 30%;
			float: left;
		}
	}
	&__others {
    margin-bottom: 10px;
		@media (min-width: 1000px) {
			width: 20%;
			float: left;
		}
	}
	&__info {
    margin-bottom: 10px;
		@media (min-width: 1000px) {
			width: 35%;
			float: left;
		}
	}
	&__check {
    display: none;
    margin-bottom: 10px;
		@media (min-width: 1000px) {
			width: 15%;
			float: left;
			text-align: center;
			display: block;
		}
	}
}

/*
.winning_team {
	margin-top: 35px;
	text-align: center;
}

.wt-h {
	font-family: GloberM;
	font-size: 49px;
	line-height: 56px;
	color: white;
	margin-bottom: 22px;
}

.wtb-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13%;
}

.wtb-avatar > img {
	border-radius: 50%;
}

.wtb-flex-container {
	display: flex;
	flex-direction: row;
}

.wtb-info {
	width: 20%;
	text-align: left;
}

.wtb-team {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23%;
	margin-right: 5%;
}

.wtb-project {
	width: 25%;
	text-align: left;
}

.wtb-team > ul > li > img {
	border-radius: 50%;
	border: 5px solid white;
}

.wmm-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 15.97%;
	margin-right: 15.97%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.wmm-block {
	background: white;
	min-height: 50px;
	border-radius: 10px;
	min-height: 222px;
	box-shadow: 0 20px 50px #80808061;
}

.wt-fix {
	margin-top: 600px;
}

.winners__table tbody td {
	border: none;
}


.wtbflch {
	font-family: GloberM;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: -0.259091px;
	margin-top: 0;
	color: #333333;
}

@media only screen and (max-width: 600px) {
	.wt-h {
		margin-top: 25px;
		padding: 0 70px;
		margin-bottom: 45px;
		font-size: 36px;
		line-height: 41px;
		font-weight: bold;
	}
	.wt-block {
		min-height: 280px;
		margin-bottom: 50px;
		margin-right: 25px;
		margin-left: 25px;
	}
	.winning_team {
		margin-top: 5px;
	}
	.wmm-grid {
		grid-template-columns: 1fr;
		margin: 20px;
	}
	.wmm-block {
		min-height: 250px;
		margin-bottom: 30px;
	}
	.wt-fix {
		margin-top: 1300px;
	}
	.wtb-flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

*/
