<div class="container">

    <div class="demo-box">
        <button class="btn btn--gradient">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--green">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--blue">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--purple">
            участвовать
        </button>
    </div>
</div>
<div class="container">

    <div class="demo-box">
        <label class="input">
            <input type="text" class="input__text" value="Петров">
            <span class="input__caption">
                ФИО капитана проекта
            </span>
        </label>
    </div>
    <div class="demo-box">
        <label class="input">
            <input type="text" class="input__text">
            <span class="input__caption">
                ФИО капитана проекта
            </span>
        </label>
    </div>
    <div class="demo-box">
        <label class="input">
            <input type="text" class="input__text" disabled>
            <span class="input__caption">
                ФИО капитана проекта
            </span>
        </label>
    </div>
</div>
<div class="container">
    <div class="demo-box">
        <label class="input input--checkbox">
            <input class="input__checkbox" type="checkbox" checked="checked">
            <span class="input__label">План утвержден</span>
        </label>
    </div>
    <div class="demo-box">
        <label class="input input--checkbox">
            <input class="input__checkbox" type="checkbox" checked="checked" disabled>
            <span class="input__label">План утвержден</span>
        </label>
    </div>
</div>