<div style="padding-bottom: 100px">
    <div class="container">

        <div class="demo-box">
            <button class="btn btn--gradient">
                участвовать
            </button>
        </div>
        <div class="demo-box">
            <button class="btn btn--green">
                участвовать
            </button>
        </div>
        <div class="demo-box">
            <button class="btn btn--blue">
                участвовать
            </button>
        </div>
        <div class="demo-box">
            <button class="btn btn--purple">
                участвовать
            </button>
        </div>
        <div class="demo-box">
            <button class="btn btn--flat">
                участвовать
            </button>
        </div>
        <div class="demo-box">
            <label class="custom-input-file">
                <div class="btn btn--flat">прикрепить файл</div>
                <input type="file">
            </label>
        </div>
    </div>
    <div class="container">

        <div class="demo-box">
            <label class="input">
                <input type="text" class="input__text" value="Петров">
                <span class="input__caption">
                    ФИО капитана проекта
                </span>
            </label>
        </div>
        <div class="demo-box">
            <label class="input">
                <input type="text" class="input__text">
                <span class="input__caption">
                    ФИО капитана проекта
                </span>
            </label>
        </div>
        <div class="demo-box">
            <label class="input">
                <input type="text" class="input__text" disabled>
                <span class="input__caption">
                    ФИО капитана проекта
                </span>
            </label>
        </div>
    </div>
    <div class="container">
        <div class="demo-box">
            <label class="input">
                <input type="text" class="input__text">
                <span class="input__caption">
                    ФИО капитана проекта
                </span>
            </label>
        </div>
        <div class="demo-box">
            <label class="input input--checkbox">
                <input class="input__checkbox" type="checkbox" checked="checked">
                <span class="input__label">
                    <span>Согласен/согласна с
                        <a href="#">
                            условиями обработки персональных данных
                        </a></span>
                </span>
            </label>
        </div>
        <div class="demo-box">
            <label class="input input--checkbox">
                <input class="input__checkbox" type="checkbox" checked="checked">
                <span class="input__label">Семейный договор</span>
            </label>
        </div>
    </div>
    <div class="container">
        <div class="demo-box">
            <label class="input input--select">
                <input type="hidden" value="Diamond Business Leader">
                <span class="input--select__value">Diamond Business Leader</span>
                <span class="input__caption">
                    Ранг капитана
                </span>
                <ul class="input--select__dropdown">
                    <li class="input--select__item">
                        Diamond Business Leader
                    </li>
                    <li class="input--select__item">
                        Fake Business Leader
                    </li>
                </ul>
            </label>
        </div>
        <div class="demo-box">
            <label class="input input--select">
                <input type="hidden" disabled value="Diamond Business Leader">
                <span class="input--select__value">Diamond Business Leader</span>
                <span class="input__caption">
                    Ранг капитана
                </span>
                <ul class="input--select__dropdown">
                    <li class="input--select__item">
                        Diamond Business Leader
                    </li>
                    <li class="input--select__item">
                        Fake Business Leader
                    </li>
                </ul>
            </label>
        </div>
    </div>
    <div class="container">
        <div class="demo-box">
            <div class="country-phone">
                <label class="input input--select">
                    <input type="hidden" value="Diamond Business Leader">
                    <span class="input--select__value">
                        <img src="img/ru_sm.png" alt="">
                    </span>
                    <ul class="input--select__dropdown">
                        <li class="input--select__item" code="RU">
                            <img src="img/ru_sm.png" alt="">
                        </li>
                        <li class="input--select__item" code="EN">
                            <img src="img/ru_sm.png" alt="">
                        </li>
                    </ul>
                </label>
                <label class="input">
                    <input type="text" class="input__text" value="+7 (">
                    <span class="input__caption">
                        Мобильный телефон
                    </span>
                </label>
            </div>
        </div>
        <div class="demo-box">
            <label class="input">
                <textarea class="input__text">test</textarea>
                <span class="input__caption">
                    Мероприятие
                </span>
            </label>
        </div>
        <div class="demo-box">
            <label class="input">
                <textarea class="input__text" disabled>test</textarea>
                <span class="input__caption">
                    Мероприятие
                </span>
            </label>
        </div>
    </div>
</div>