<div class="page">

    <div class="demo-box">
        <button class="btn btn--gradient">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--green">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--blue">
            участвовать
        </button>
    </div>
    <div class="demo-box">
        <button class="btn btn--purple">
            участвовать
        </button>
    </div>
</div>