<%- partial("_partials/_header", { main: false }) %>

    <div class="form">
        <h1 class="form__header">
            Заявка на эко-проект
        </h1>

        <div class="container">
            <div class="counter-banner">
                Приём заявок начнётся 8 апреля в 12:00
                <div class="counter-banner__caption">
                    по московскому времени
                </div>
            </div>
            <div class="counter">
                <div class="counter__item">
                    <div class="counter__value" id="days"></div>
                    <div class="counter__caption">Дней</div>
                </div>
                <div class="counter__item">
                    <div class="counter__value" id="hours"></div>
                    <div class="counter__caption">Часов</div>
                </div>
                <div class="counter__item">
                    <div class="counter__value" id="minutes"></div>
                    <div class="counter__caption">Минут</div>
                </div>
                <div class="counter__item">
                    <div class="counter__value" id="seconds"></div>
                    <div class="counter__caption">Секунд</div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <h3>
                Следите за новостями
            </h3>
            <ul class="social">
                <li>
                    <a href="#">
                        <img src="img/vk.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/fb.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/inst.png" alt="">
                    </a>
                </li>
            </ul>
            <a href="#" class="footer__link link">Написать службе поддержки конкурса</a>
        </div>
    </footer>