<%- partial("_partials/_header", { main: false }) %>

    <div class="form">
        <h1 class="form__header">
            FAQ
        </h1>

        <div class="container">
            <ul class="faq">
                <li class="faq__item">
                    <div class="faq__item-title">
                        А как посмотреть мою команду?
                    </div>
                    <div class="faq__item-descr">
                        Никак
                    </div>
                </li>
                <li class="faq__item">
                    <div class="faq__item-title">
                        Как отправить реферальную ссылку?
                    </div>
                    <div class="faq__item-descr">
                        Никак
                    </div>
                </li>
                <li class="faq__item">
                    <div class="faq__item-title">
                        Обязательно ли привлекать экспертов?
                    </div>
                    <div class="faq__item-descr">
                        Ага
                    </div>
                </li>
                <li class="faq__item">
                    <div class="faq__item-title">
                        Необходимо обозначать, что это причастность партнеров Сибирского здоровья к проекту?
                    </div>
                    <div class="faq__item-descr">
                        Ага
                    </div>
                </li>
                <li class="faq__item">
                    <div class="faq__item-title">
                        Как отправить реферальную ссылку?
                    </div>
                    <div class="faq__item-descr">
                        Никак
                    </div>
                </li>
                <li class="faq__item is-active">
                    <div class="faq__item-title">
                        Каким должен быть масштаб проекта?
                    </div>
                    <div class="faq__item-descr">
                        Миссия фонда: «Мы многим обязаны Природе, и поэтому нам не все равно, что с ней происходит сегодня. Мы действуем: возвращаем
                        жизнь лесам, участвуем в реальной защите редких видов растений и животных, помогаем нужным организациям.
                        Кроме того, мы поддерживаем экологию сознания – вовлекаем все больше людей в активный, здоровый образ
                        жизни».
                    </div>
                </li>
                <li class="faq__item">
                    <div class="faq__item-title">
                        Как отправить реферальную ссылку?
                    </div>
                    <div class="faq__item-descr">
                        Никак
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <h3>
                Следите за новостями
            </h3>
            <ul class="social">
                <li>
                    <a href="#">
                        <img src="img/vk.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/fb.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/inst.png" alt="">
                    </a>
                </li>
            </ul>
            <a href="#" class="footer__link link">Написать службе поддержки конкурса</a>
        </div>
    </footer>