<%- partial("_partials/_header", { main: false }) %>

<form class="form">
    <h1 class="form__header">
        Заявка на эко-проект
        <div class="form__header-info">
            Все поля обязательны для заполнения
        </div>
    </h1>

    <div class="form__banner">
        В вашей команде пока недостаточно людей для отправки заявки. Пригласите ещё <b>двоих</b> людей.
    </div>
</form>