<%- partial("_partials/_header", { main: false }) %>

    <form class="form">
        <h1 class="form__header">
            Заявка на эко-проект
            <div class="form__header-info">
                Все поля обязательны для заполнения
            </div>
        </h1>

        <div class="form__group mb-70">
            <label class="input">
                <input type="text" class="input__text">
                <span class="input__caption">
                    Название проекта
                </span>
            </label>
        </div>

        <section class="form__section">
            <h2>
                Информация о капитане
            </h2>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <input type="text" class="input__text">
                        <span class="input__caption">
                            ФИО капитана проекта
                        </span>
                    </label>
                    <label class="input">
                        <input type="text" class="input__text" value="31234123">
                        <span class="input__caption">
                            Номер соглашения капитана
                        </span>
                    </label>
                    <label class="input input--select">
                        <input type="hidden" value="Diamond Business Leader">
                        <span class="input--select__value">Diamond Business Leader</span>
                        <span class="input__caption">
                            Ранг капитана
                        </span>
                        <ul class="input--select__dropdown">
                            <li class="input--select__item">
                                Diamond Business Leader
                            </li>
                            <li class="input--select__item">
                                Fake Business Leader
                            </li>
                        </ul>
                    </label>
                    <div class="form__hint tar">
                        <span class="red">Обязательное условие: </span>капитан команды должен <br>быть в статусе Business
                        Leader или выше.
                    </div>
                </div>
                <div class="form__group">
                    <div class="country-phone">
                        <label class="input input--select">
                            <input type="hidden" value="Diamond Business Leader">
                            <span class="input--select__value">
                                <img src="img/ru_sm.png" alt="">
                            </span>
                            <ul class="input--select__dropdown">
                                <li class="input--select__item" code="RU">
                                    <img src="img/ru_sm.png" alt="">
                                </li>
                                <li class="input--select__item" code="EN">
                                    <img src="img/ru_sm.png" alt="">
                                </li>
                            </ul>
                        </label>
                        <label class="input">
                            <input type="text" class="input__text" value="+7 (">
                            <span class="input__caption">
                                Мобильный телефон
                            </span>
                        </label>
                    </div>
                    <label class="input">
                        <input type="text" class="input__text" value="some@mail.com">
                        <span class="input__caption">
                            E-mail капитана
                        </span>
                    </label>
                    <label class="input">
                        <input type="text" class="input__text">
                        <span class="input__caption">
                            Адрес страницы в социальной сети
                        </span>
                    </label>
                </div>
            </div>
        </section>

        <section class="form__section">
            <h2>
                Остальные участники проекта
            </h2>
            <div class="form__full">
                <label class="input">
                    <input type="text" class="input__text" value="Евгения Орлова, Сергей Васильев, Людмила Степанова, Кирилл Алфёров">
                    <span class="input__caption">
                        ФИО
                    </span>
                </label>
            </div>
        </section>
 
        <section class="form__section">
            <h2>
                О проекте
            </h2>
            <div class="form__group">
                <label class="input">
                    <input type="text" class="input__text">
                    <span class="input__caption">
                        Территория реализации проекта
                    </span>
                </label>
                <label class="input">
                    <input type="text" class="input__text">
                    <span class="input__caption">
                        Полная стоимость проекта, ₽
                    </span>
                </label>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <input type="text" class="input__text">
                        <span class="input__caption">
                            Дата начала реализации проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <label class="input">
                        <input type="text" class="input__text">
                        <span class="input__caption">
                            Дата окончания реализации проекта
                        </span>
                    </label>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Описание проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Опишите суть, участников и предполагаемый результат проекта.
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Актуальность проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Проблема, на решение которой направлен проект – разница между тем, как должно быть, и тем, как есть сейчас.
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Цель и задачи проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        <p>
                            Цель – для чего реализуется проект (социальная миссия)
                        </p>
                        <p>
                            Задачи – конкретные и измеримые шаги по достижению цели
                        </p>
                        <p>
                            Какие экологические задачи решает. Имеет ли историю, научные наработки
                        </p>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Целевая аудитория проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        На кого направлен проект? Почему выбрана данная целевая аудитория?
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Привлеченные эксперты
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Какие эксперты привлечены. Иъ экспертный опыт, научная или общественная деятельность, общественное признание.
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Ожидаемые результаты проекта
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Количественные показатели: например, планируемое количество участников, проведенных мероприятий и акций, собранной помощи
                        (книги, одежда, корм для животных) и т.д.
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Масштабируемость и дублицируемость проекта в других регионах и странах
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Каким образом предполагается сохранить и расширить достижения данного проекта (после окончания)
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="input">
                        <textarea class="input__text"></textarea>
                        <span class="input__caption">
                            Потенциал освещения в СМИ
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__hint form__hint--padded">
                        Как будет происходить информирование целевой аудитории и общественности о реализации проекта (например, анонсирование проекта,
                        публикации в СМИ, приглашение СМИ на мероприятия, размещение информации в социальных сетях) В чем
                        привлекательность данного проекта для изданий, телеканалов, блогеров и широкой общественности.
                    </div>
                </div>
            </div>
        </section>

        <section class="form__section">
            <h2>
                О проекте
            </h2>
            <div class="form__table">
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1">Уборка прилежащей территории при участии волонтёров</textarea>
                        <span class="input__caption">
                            Мероприятие
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1">Планируется 50-70 человек, освещение местными СМИ, инвентарь для уборки выдаст коммунальная служба, продлится примерно 3 часа</textarea>
                        <span class="input__caption">
                            Место проведения
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1">12:00 - 15:00, 27 июня</textarea>
                        <span class="input__caption">
                            Целевая аудитория
                        </span>
                    </label>
                </div>
            </div>
            <div class="form__table">
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Мероприятие
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Место проведения
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Целевая аудитория
                        </span>
                    </label>
                </div>
            </div>

            <button type="button" class="form__add-table-row">
                Добавить ещё 1 мероприятие
            </button>
        </section>

        <section class="form__section">
            <h2>
                Ключевые мероприятия проекта (самые яркие, особо значимые события проекта, от 1 до 5 мероприятий)
            </h2>
            <div class="form__table">
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Мероприятие
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Место проведения
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="1"></textarea>
                        <span class="input__caption">
                            Целевая аудитория
                        </span>
                    </label>
                </div>
            </div>

            <button type="button" class="form__add-table-row">
                Добавить ещё 1 мероприятие
            </button>
        </section>

        <section class="form__section">
            <h2>
                Смета проекта
            </h2>
            <div class="form__table form__table--4cols">
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="2"></textarea>
                        <span class="input__caption">
                            Статья расходов
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="2"></textarea>
                        <span class="input__caption">
                            Запрашиваемая сумма, ₽
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="2"></textarea>
                        <span class="input__caption">
                            Собственный вклад и вклад партнеров, ₽
                        </span>
                    </label>
                </div>
                <div class="form__table-box">
                    <label class="input">
                        <textarea class="input__text" rows="2"></textarea>
                        <span class="input__caption">
                            Всего ₽
                        </span>
                    </label>
                </div>
            </div>

            <button type="button" class="form__add-table-row">
                Добавить ещё 1 мероприятие
            </button>
        </section>

        <section class="form__section">
            <h2>
                Техническая документация, чертежи, дизайн-проект (при необходимости)
            </h2>
            <div>
                <label class="custom-input-file">
                    <div class="btn btn--flat">прикрепить файл</div>
                    <input type="file">
                </label>
            </div>
        </section>

        <section class="form__section">
            <div class="form__bottom-banner">
                <h2>
                    Сохраните черновик заявки
                </h2>
                <p>
                    Вы можете сохранять текущее состояние заявки и продолжать заполнять позже, с любого устройства. Главное – отправьте до 30
                    апреля :)
                </p>
                <div>
                    <button type="button" class="btn btn--flat">
                        Сохранить черновик
                    </button>
                </div>
            </div>
        </section>

        <section class="form__section tac">
            <button type="submit" class="btn btn--green">
                Отправить заявку
            </button>

            <p class="form__bottom-hint">
                Все участники команды получат уведомления на почту об этом долгожданном событии!
            </p>
        </section>
    </form>

    <footer class="footer footer--form">
        <div class="container">
            <h3>
                Следите за новостями
            </h3>
            <ul class="social">
                <li>
                    <a href="#">
                        <img src="img/vk.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/fb.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/inst.png" alt="">
                    </a>
                </li>
            </ul>
            <a href="#" class="footer__link link">Написать службе поддержки конкурса</a>
        </div>
    </footer>