<%- partial("_partials/_header", { main: false }) %>

<form class="form">
    <h1 class="form__header">
        Заявка на эко-проект
        <div class="form__header-info">
            Все поля обязательны для заполнения
        </div>
    </h1>
</form>