<div class="background"></div>
<div class="clouds" style="top: 2324px;"></div>
<div class="mountains" style="top: 4294px;"></div>

<div class="page">

    <header class="header">
        <ul class="header__left">
            <li>
                <img src="img/logo_sm_1.png" alt="">
            </li>
            <li>
                <img src="img/logo_sm_2.png" alt="">
            </li>
            <li>
                <a href="#" class="lang-link is-active">
                    <img src="img/ru.png" alt="">
                    <span>RU</span>
                </a>
                <a href="#" class="lang-link">
                    <img src="img/en.png" alt="">
                    <span>EN</span>
                </a>
            </li>
        </ul>
        <ul class="header__right">
            <li>
                <a href="#">
                    <span>FAQ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Войти</span>
                </a>
            </li>
        </ul>
        <div class="logo"></div>
        <div class="header__layer">
            <p>
                Напиши лучшее эссе или спланируй лучший эко-проект и получи тур на Байкал!
            </p>
            <button class="btn btn--gradient">
                участвовать
            </button>
        </div>
    </header>

    <section class="business">
        <img class="business__dash" src="img/dash1.png" alt="">
        <img class="business__img" src="img/business.png" alt="">
        <article>
            <div class="caption">
                участие для Бизнес-Партнеров Компании
            </div>
            <h2>
                Воплоти эко-проект вместе с Siberian Wellness
            </h2>
            <p>
                Если ты Business Leader Siberian Wellness – пришло время собирать свою команду! Найди пять
                единомышленников, разработайте и отправьте проект по сохранению окружающего мира до 30 апреля и мы
                поможем воплотить твою идею в жизнь. Если твой ранг ниже Business Leader – ты можешь присоединиться к
                существующей команде и спасать природу вместе с новыми друзьями!
            </p>
            <footer class="business__footer">
                <button class="btn btn--green">
                    стать капитаном
                </button>
                <button class="btn btn--blue">
                    вступить в команду
                </button>
                <div>
                    <a class="rules-link " href="#">
                        Полные правила
                    </a>
                    <a class="pdf" href="#">
                        PDF
                    </a>
                </div>
            </footer>
        </article>
    </section>

    <section class="ideas">
        <img class="ideas__dash" src="img/dash2.png" alt="">
        <article>
            <h2>
                20 лучших идей воплотятся в жизнь!
            </h2>
            <p>
                Мы выберем самые креативные проекты и поможем сделать их реальностью! Все команды-победители получат
                50%-ую компенсацию на реализацию своих проектов от благотворительного фонда «Мир вокруг тебя».
            </p>
        </article>
        <img class="ideas__img" src="img/50.png" alt="">
    </section>

    <section class="smi">
        <img class="smi__dash" src="img/dash3.png" alt="">
        <img class="smi__img" src="img/smi.png" alt="">
        <article>
            <div class="caption">
                Участие лдя СМИ
            </div>
            <h2>
                Признайся в любви Байкалу — выиграй поездку с «Охотниками»!
            </h2>
            <p>
                Если ты журналист, блоггер или просто мастер слова, напиши эссе на эко-тему и пришли нам до 31-го мая.
                Авторы пяти лучших работ отправятся в экспедицию к самому глубокому озеру в мире вместе с «Охотниками за
                травами»!
            </p>
            <footer class="smi__footer">
                <button class="btn btn--purple">
                    участвовать
                </button>
                <div class="smi__links">
                    <a class="rules-link" href="#">
                        Полные правила
                    </a>
                    <a class="pdf" href="#">
                        PDF
                    </a>
                </div>
            </footer>
        </article>
    </section>

    <section class="plan">
        <img class="plan__dash" src="img/dash4.png" alt="">
        <article>
            <div class="caption">
                План путешетсвия
            </div>
            <h2>
                Ты запомнишь эту поездку навсегда!
            </h2>
            <p>
                Круиз на катере по водам самого глубокого озера в мире.
            </p>
            <p>
                Пеший поход по Большой Байкальской тропе. Обед из свежевыловленной байкальской рыбы.

            </p>
            <p>
                Посещение самого известного места Ольхона – мыса Хобой.
            </p>
            <p>
                Приключения ждут тебя!
            </p>
        </article>
        <img class="plan__img" src="img/p1.png" alt="">
    </section>

    <section class="register">
        <img class="register__dash" src="img/dash5.png" alt="">
        <h2>
            Регистрация
        </h2>
        <div class="register__row">
            <div class="register__box">
                <img src="img/r1.png" alt="">
                <h3>
                    Собрать команду
                </h3>
                <p>
                    Собери команду друзей и спланируйте эко-проект в любой точке мира
                </p>
                <button class="btn btn--green">
                    Регистрация
                </button>
            </div>
            <div class="register__box">
                <img src="img/r2.png" alt="">
                <h3>
                    Вступить
                    в команду
                </h3>
                <p>
                    Станьте частью команды, спланируйте эко-проект и выиграйте тур на Байкал
                </p>
                <button class="btn btn--blue">
                    Регистрация
                </button>
            </div>
            <div class="register__box">
                <img src="img/r3.png" alt="">
                <h3>
                    Участие
                    для СМИ
                </h3>
                <p>
                    Признайтесь в любви, напишите эссе на тему “Байкал, я люблю тебя!”
                </p>
                <button class="btn btn--purple">
                    Регистрация
                </button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <h3>
            Следите за новостями
        </h3>
        <ul class="footer__social">
            <li>
                <a href="#">
                    <img src="img/vk.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/fb.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/inst.png" alt="">
                </a>
            </li>
        </ul>
        <a href="#" class="footer__link">Написать службе поддержки конкурса</a>
    </footer>
</div>