<div class="background"></div>
<div class="clouds"></div>

<div class="page">

    <header class="header">
        <ul class="header__left">
            <li>
                <img src="img/logo_sm_1.png" alt="">
            </li>
            <li>
                <img src="img/logo_sm_2.png" alt="">
            </li>
            <li>
                <a href="#" class="lang-link is-active">
                    <img src="img/ru.png" alt="">
                    <span>RU</span>
                </a>
                <a href="#" class="lang-link">
                    <img src="img/en.png" alt="">
                    <span>EN</span>
                </a>
            </li>
        </ul>
        <ul class="header__right">
            <li>
                <a href="#">
                    <span>FAQ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Войти</span>
                </a>
            </li>
        </ul>
        <div class="logo"></div>
        <div class="header__layer">
            <p>
                Напиши лучшее эссе или спланируй лучший эко-проект и получи тур на Байкал!
            </p>
            <button class="btn btn--gradient">
                участвовать
            </button>
        </div>
    </header>

    <section class="business">
        <img class="business__dash" src="img/dash1.png" alt="">
        <img class="business__img" src="img/business.png" alt="">
        <article>
            <div class="caption">
                участие для Бизнес-Партнеров Компании
            </div>
            <h2>
                Воплоти эко-проект вместе с Siberian Wellness
            </h2>
            <p>
                Если ты Business Leader Siberian Wellness – пришло время собирать свою команду! Найди пять
                единомышленников, разработайте и отправьте проект по сохранению окружающего мира до 30 апреля и мы
                поможем воплотить твою идею в жизнь. Если твой ранг ниже Business Leader – ты можешь присоединиться к
                существующей команде и спасать природу вместе с новыми друзьями!
            </p>
            <footer class="business__footer">
                <button class="btn btn--green">
                    стать капитаном
                </button>
                <button class="btn btn--blue">
                    вступить в команду
                </button>
                <div>
                    <a class="business__link" href="#">
                        Полные правила
                    </a>
                    <a class="business__pdf" href="#">
                        PDF
                    </a>
                </div>
            </footer>
        </article>
    </section>

    <section class="ideas">
        <img class="ideas__dash" src="img/dash2.png" alt="">
        <article>
            <h2>
                20 лучших идей воплотятся в жизнь!
            </h2>
            <p>
                Мы выберем самые креативные проекты и поможем сделать их реальностью! Все команды-победители получат
                50%-ую компенсацию на реализацию своих проектов от благотворительного фонда «Мир вокруг тебя».
            </p>
        </article>
        <img class="ideas__img" src="img/50.png" alt="">
    </section>
</div>