<%- partial("_partials/_header", { main: true }) %>

    <!-- popup -->
    <div class="overlay">
        <div class="popup">
            <i class="popup__close"></i>
            <div class="popup__row">
                <div class="popup__column popup__column--left">
                    <div class="popup__caption">
                        Пишу эссе
                    </div>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <img src="img/vk.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/fb.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/inst.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/google.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__column popup__column--right">
                    <div class="popup__caption">
                        Состою в команде
                    </div>
                    <form>
                        <label class="input">
                            <input type="text" class="input__text">
                            <span class="input__caption">
                                Номер договора
                            </span>
                        </label>
                        <label class="input">
                            <input type="password" class="input__text">
                            <span class="input__caption">
                                Пароль
                            </span>
                        </label>
                        <button type="submit" class="btn btn--green">
                            войти
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>