<section class="register">
    <div class="mountains"></div>
    <div class="container">
        <h2>
            Регистрация
        </h2>
        <div class="register__row">
            <div class="register__form">
                <h3>
                    Войдите через аккаунт социальной сети
                </h3>
                <div class="mb-30">

                    <label class="input input--checkbox">
                        <input class="input__checkbox" type="checkbox" checked="checked">
                        <span class="input__label">
                            Согласен/согласна с
                            <a href="#">
                                условиями обработки персональных данных
                            </a>
                        </span>
                    </label>
                </div>
                <ul class="footer__social">
                    <li>
                        <a href="#">
                            <img src="img/vk.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/fb.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/inst.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/google.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>