<section class="register">
    <div class="mountains"></div> 
    <div class="container">
        <h2>
            Регистрация
        </h2>
        <div class="register__row">
            <div class="register__box">
                <img src="img/r1.png" alt="">
                <h3>
                    Собрать команду
                </h3>
                <p>
                    Собери команду друзей и спланируйте эко-проект в любой точке мира
                </p>
                <button class="btn btn--green">
                    Регистрация
                </button>
            </div>
            <div class="register__box">
                <img src="img/r2.png" alt="">
                <h3>
                    Вступить
                    в команду
                </h3>
                <p>
                    Станьте частью команды, спланируйте эко-проект и выиграйте тур на Байкал
                </p>
                <button class="btn btn--blue">
                    Регистрация
                </button>
            </div>
            <div class="register__box">
                <img src="img/r3.png" alt="">
                <h3>
                    Участие
                    для СМИ
                </h3>
                <p>
                    Признайтесь в любви, напишите эссе на тему “Байкал, я люблю тебя!”
                </p>
                <button class="btn btn--purple">
                    Регистрация
                </button>
            </div>
        </div>
    </div>
</section>