<section class="register">
    <div class="mountains"></div>
    <div class="container">
        <h2>
            Регистрация
        </h2>
        <div class="register__row">
            <form class="register__form">
                <div class="mb-40">
                    <label class="input">
                        <input type="text" class="input__text">
                        <span class="input__caption">
                            Реферальная ссылка
                        </span>
                    </label>
                </div>
                <footer class="tac">
                    <button type="submit" class="btn btn--blue mb-30">
                        далее
                    </button>
                    <p>
                        Нет команды? Сообщите нам на почту <a href="mailto:hello@herbhunters.ru">hello@herbhunters.ru</a> своё полное ФИО и номер соглашения, чтобы мы могли по базе посмотреть
                        всех ваших вышестоящих Наставников и сообщить их контакты, чтобы вы могли с ними связаться.
                    </p>
                </footer>
            </form>
        </div>
    </div>
</section>