<section class="business">
    <div class="container">
        <img class="business__dash" src="img/dash1.png" alt="">
        <img class="business__img" src="img/business.png" alt="">
        <article class="business__article">
            <div class="caption">
                участие для Бизнес-Партнеров Компании
            </div>
            <h2>
                Воплоти эко-проект вместе с Siberian Wellness
            </h2>
            <p>
                Если ты Business Leader Siberian Wellness – пришло время собирать свою команду! Найди пять
                единомышленников, разработайте и отправьте проект по сохранению окружающего мира до 30 апреля и мы
                поможем воплотить твою идею в жизнь. Если твой ранг ниже Business Leader – ты можешь присоединиться к
                существующей команде и спасать природу вместе с новыми друзьями!
            </p>
            <footer class="business__footer">
                <button class="btn btn--green">
                    стать капитаном
                </button>
                <button class="btn btn--blue">
                    вступить в команду
                </button>
                <div>
                    <a class="link " href="#">
                        Полные правила
                    </a>
                    <a class="pdf" href="#">
                        PDF
                    </a>
                </div>
            </footer>
        </article>
    </div>
</section>