<section class="compensation">
    <div class="mountains"></div> 
    <div class="container">
        <img class="compensation__img" src="img/50.png" alt="">
        <h1>
            Команды, которые получат компенсацию расходов на реализацию экопроектов
        </h1>
    </div>
</section>