<section class="extra">
    <div class="clouds"></div>
    <div class="container">
        <article class="extra__article">
            <h2>
                Не успел подать заявку?
            </h2>
            <p>
                Не успели принять участие в конкурсе? Ловите нашу Green Wave и присоединяйтесь к благотворительному
                фонду World Around You. Создавайте экопроекты, участвуйте в наших «зеленых» акциях и делайте мир лучше.
                Предлагайте свои идеи через наш сайт, и, возможно, мы поможем вам воплотить их в жизнь!
            </p>
        </article>
    </div>
</section>