<footer class="footer">
    <div class="container">
        <h3>
            Следите за новостями
        </h3>
        <ul class="social">
            <li>
                <a href="#">
                    <img src="img/vk.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/fb.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/inst.png" alt="">
                </a>
            </li>
        </ul>
        <a href="#" class="footer__link link">Написать службе поддержки конкурса</a>
    </div>
</footer>