<% if(main || main == "wt"){ %>
<header class="header">
    <div class="container container--wide">
<% } else{ %>
<header class="header header--form">
    <div class="container">
 <% } %>
        <div class="header__top">
            <ul class="header__left">
                <li>
                    <img src="img/logo_sm_1.png" alt="">
                </li>
                <li>
                    <img src="img/logo_sm_2.png" alt="">
                </li>
                <li class="header__mobile-controls">
                    <div class="burger" id="js-open-menu"></div>
                    <div class="icon-close" id="js-close-menu"></div>
                </li>
                <li class="header__lang">
                    <a href="#" class="lang-link is-active">
                        <img src="img/ru.png" alt="">
                        <span>RU</span>
                    </a>
                    <a href="#" class="lang-link">
                        <img src="img/en.png" alt="">
                        <span>EN</span>
                    </a>
                </li>
            </ul>
            <ul class="header__right">
                <li class="header__menu-item">
                    <a href="#">
                        <span>FAQ</span>
                    </a>
                </li>
                <li class="header__menu-item">
                    <a href="#">
                        <span>Войти</span>
                    </a>
                </li>

                <li class="header__dropdown dropdown">
                    <div class="dropdown__user">
                        <img class="dropdown__av" src="img/av.png" alt="">
                        <div class="dropdown__username" id="js-toggle-menu">
                            Константин Константинопольский
                        </div>
                    </div>
                    <div class="dropdown__links">
                        <div class="dropdown__caption">
                            Ссылка скопирована
                        </div>
                        <ul>
                            <li class="dropdown__link dropdown__link--copy">
                                Скопировать
                                реферальную ссылку
                            </li>
                            <li class="dropdown__link dropdown__link--exit">
                                Выйти
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown__team">
                        <div class="dropdown__caption">
                            В команде так же состоят:
                        </div>
                        <ul>
                            <li class="dropdown__team-member">
                                <img class="dropdown__av" src="img/av.png" alt="">
                                <div class="dropdown__username">
                                    Евгения Орлова
                                </div>
                            </li>
                            <li class="dropdown__team-member">
                                <img class="dropdown__av" src="img/av.png" alt="">
                                <div class="dropdown__username">
                                    Евгения Лололова
                                </div>
                            </li>
                        </ul>
                        <div class="dropdown__caption bold black">
                            Осталось 3 места
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <% if(main == true ){ %>
        <div class="logo"></div>
        <div class="header__layer">
            <p>
                Напиши лучшее эссе или спланируй лучший эко-проект и получи тур на Байкал!
            </p>
            <button class="btn btn--gradient">
                участвовать
            </button>
        </div>
        <% } else if ( main == "wt") { %>
          <div class="container winning_team">
            <h1 class = "wt-h">Победившая команда</h1>
            <div class="wt-block">
              <!-- <table class="winners__table">
                <thead>
                    <tr>
                        <th class="wt winners__captain">
                            Капитан
                        </th>
                        <th class="wt  winners__list">

                        </th>
                        <th class="wt winners__project">
                            Эко-проект
                        </th>
                        <th class="wt winners__check">
                            Фотоотчет
                        </th>
                    </tr>
                </thead>
                <tr class ="wt-table">
                    <td class="wt winners__captain">
                        <img src="https://picsum.photos/50/50?rand=10">

                        Анисимов Алексей
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=11">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=12">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=13">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        Чистая среда
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                </tr>
              </table> -->
            <div class="wtb-flex-container">
              <div class="wtb-avatar">
                  <img src="https://picsum.photos/50/50?rand=10">
                </div>
                <div class="wtb-info">
                  <p class ="wtb-info-h">капитан</p>
                  <p class ="wtb-info-captain-name">Анисимов Алексей</p>
                </div>
                <div class="wtb-team winners__list">
                  <ul>
                      <li>
                          <img src="https://picsum.photos/50/50?rand=11">
                      </li>
                      <li>
                          <img src="https://picsum.photos/50/50?rand=12">
                      </li>
                      <li>
                          <img src="https://picsum.photos/50/50?rand=13">
                      </li>
                      <li>
                          <img src="https://picsum.photos/50/50?rand=4">
                      </li>
                  </ul>
                </div>
                <div class="wtb-project">
                  <p class ="wtb-info-h">эко-проект</p>
                  <p>лаллааллалалалалала</p>
                </div>
                <div class="wtb-check">
                  <p class ="wtb-info-h">фотоотчет</p>
                  <i class="winners__check-icon"></i>
                </div>
              </div>
            </div>
            <h1 class = "wt-h">Победившие СМИ</h1>
            <div class="wmm-grid">
              <div class="wmm-block"></div>
              <div class="wmm-block"></div>
              <div class="wmm-block"></div>
              <div class="wmm-block"></div>
              <div class="wmm-block"></div>
            </div>
          </div>
        <% }%>
    </div>
</header>
