<header class="header is-mobile-opened">
    <div class="container">
        <ul class="header__left">
            <li>
                <img src="img/logo_sm_1.png" alt="">
            </li>
            <li>
                <img src="img/logo_sm_2.png" alt="">
            </li>
            <li class="tar">
                <div class="burger"></div>
                <div class="icon-close"></div>
            </li>
            <li class="header__lang">
                <a href="#" class="lang-link is-active">
                    <img src="img/ru.png" alt="">
                    <span>RU</span>
                </a>
                <a href="#" class="lang-link">
                    <img src="img/en.png" alt="">
                    <span>EN</span>
                </a>
            </li>
        </ul>
        <ul class="header__right">
            <li>
                <a href="#">
                    <span>FAQ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Войти</span>
                </a>
            </li>
        </ul>
        <div class="logo"></div>
        <div class="header__layer">
            <p>
                Напиши лучшее эссе или спланируй лучший эко-проект и получи тур на Байкал!
            </p>
            <button class="btn btn--gradient">
                участвовать
            </button>
        </div>
    </div>
</header>