<section class="ideas">
    <div class="clouds"></div>
    <div class="container">
        <img class="ideas__dash" src="img/dash2.png" alt="">
        <article class="ideas__article">
            <h2>
                20 лучших идей воплотятся в жизнь!
            </h2>
            <p>
                Мы выберем самые креативные проекты и поможем сделать их реальностью! Все команды-победители получат
                50%-ую компенсацию на реализацию своих проектов от благотворительного фонда «Мир вокруг тебя».
            </p>
        </article>
        <img class="ideas__img" src="img/50.png" alt="">
    </div>
</section>