<section class="smi">
    <div class="container">
        <img class="smi__dash" src="img/dash3.png" alt="">
        <article class="smi__article">
            <div class="caption">
                Участие лдя СМИ
            </div>
            <h2>
                Признайся в любви Байкалу — выиграй поездку с «Охотниками»!
            </h2>
            <p>
                Если ты журналист, блоггер или просто мастер слова, напиши эссе на эко-тему и пришли нам до 31-го мая.
                Авторы пяти лучших работ отправятся в экспедицию к самому глубокому озеру в мире вместе с «Охотниками за
                травами»!
            </p>
            <footer class="smi__footer">
                <button class="btn btn--purple">
                    участвовать
                </button>
                <div class="smi__links">
                    <a class="link" href="#">
                        Полные правила
                    </a>
                    <a class="pdf" href="#">
                        PDF
                    </a>
                </div>
            </footer>
        </article>
        <img class="smi__img" src="img/smi.png" alt="">
    </div>
</section>