<section class="winners">
    <div class="container">
        <table class="winners__table">
            <thead>
                <tr>
                    <th class="winners__captain">
                        Капитан
                    </th>
                    <th class="winners__list">
                        Члены комманды
                    </th>
                    <th class="winners__project">
                        Эко-проект
                    </th>
                    <th class="winners__check">
                        Фотоотчет
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=10">
                        Константинопольский Константинополь
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=11">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=12">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=13">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        Чистая среда
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=0">
                        Володарская Ольга
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=1">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=2">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=3">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=5">
                        Анисимов Алексей
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=6">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=7">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=8">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=9">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            ЭКОсфера своими руками
                        </a>
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=10">
                        Константинопольский Константинополь
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=11">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=12">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=13">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        Чистая среда
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=0">
                        Володарская Ольга
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=1">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=2">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=3">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </td>
                    <td class="winners__check">

                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=5">
                        Анисимов Алексей
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=6">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=7">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=8">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=9">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            ЭКОсфера своими руками
                        </a>
                    </td>
                    <td class="winners__check">

                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=10">
                        Константинопольский Константинополь
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=11">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=12">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=13">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        Чистая среда
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=0">
                        Володарская Ольга
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=1">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=2">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=3">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=4">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </td>
                    <td class="winners__check">

                    </td>
                </tr>
                <tr>
                    <td class="winners__captain">
                        <img src="https://picsum.photos/50/50?rand=5">
                        Анисимов Алексей
                    </td>
                    <td class="winners__list">
                        <ul>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=6">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=7">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=8">
                            </li>
                            <li>
                                <img src="https://picsum.photos/50/50?rand=9">
                            </li>
                        </ul>
                    </td>
                    <td class="winners__project">
                        <a href="#">
                            ЭКОсфера своими руками
                        </a>
                    </td>
                    <td class="winners__check">
                        <i class="winners__check-icon"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>