<section class="winning-team">

    <div class="container winning-team">

        <h1 class="winning-team__header">
            Победившая команда
        </h1>

        <div class="winning-team__block winning-team__block--wide">
            <div class="winning-team__captain">
                <div class="winning-team__avatar">
                    <img src="https://picsum.photos/50/50?rand=12">
                </div>
                <div class="winning-team__title">
                    капитан
                </div>
                <div class="winning-team__captain-name">
                    Анисимов Алексей
                </div>
            </div>
            <div class="winning-team__others">
                <div class="winning-team__list">
                    <ul>
                        <li>
                            <img src="https://picsum.photos/50/50?rand=11">
                        </li>
                        <li>
                            <img src="https://picsum.photos/50/50?rand=12">
                        </li>
                        <li>
                            <img src="https://picsum.photos/50/50?rand=13">
                        </li>
                        <li>
                            <img src="https://picsum.photos/50/50?rand=4">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="winning-team__info">
                <div class="winning-team__title">эко-проект</div>
                <a href="#">
                    Народный огород целебных трав в Лефортово
                </a>
            </div>
            <div class="winning-team__check">
                <div class="winning-team__title">Фотоотчёт</div>
                <i class="winners__check-icon"></i>
            </div>
        </div>

        <h1 class="winning-team__header">
            Победившие СМИ
        </h1>

        <div class="winning-team__row">
            <div class="winning-team__col">
                <div class="winning-team__block winning-team__block--sm is-active">
                    <div class="winning-team__captain">
                        <div class="winning-team__avatar">
                            <img src="https://picsum.photos/50/50?rand=12">
                        </div>
                        <div class="winning-team__title">
                            Автор
                        </div>
                        <div class="winning-team__captain-name">
                            Анисимов Алексей
                        </div>
                        <div class="winning-team__small-title">
                            Издание «Московский комсомолец»
                        </div>
                    </div>
                    <div class="winning-team__info">
                        <div class="winning-team__title">
                            Эссе
                        </div>
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </div>
                </div>
            </div>
            <div class="winning-team__col">
                <div class="winning-team__block winning-team__block--sm">
                    <div class="winning-team__captain">
                        <div class="winning-team__avatar">
                            <img src="https://picsum.photos/50/50?rand=12">
                        </div>
                        <div class="winning-team__title">
                            Автор
                        </div>
                        <div class="winning-team__captain-name">
                            Анисимов Алексей
                        </div>
                        <div class="winning-team__small-title">
                            Издание «Московский комсомолец»
                        </div>
                    </div>
                    <div class="winning-team__info">
                        <div class="winning-team__title">
                            Эссе
                        </div>
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </div>
                </div>
            </div>
            <div class="winning-team__col">
                <div class="winning-team__block winning-team__block--sm">
                    <div class="winning-team__captain">
                        <div class="winning-team__avatar">
                            <img src="https://picsum.photos/50/50?rand=12">
                        </div>
                        <div class="winning-team__title">
                            Автор
                        </div>
                        <div class="winning-team__captain-name">
                            Анисимов Алексей
                        </div>
                        <div class="winning-team__small-title">
                            Издание «Московский комсомолец»
                        </div>
                    </div>
                    <div class="winning-team__info">
                        <div class="winning-team__title">
                            Эссе
                        </div>
                        <a href="#">
                            Народный огород целебных трав в Лефортово
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>