body {
  font-family: "GloberM", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "GloberM xBold";
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}