@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMSemiBold.eot');
    src: url('../fonts/GloberMSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMSemiBold.woff2') format('woff2'),
        url('../fonts/GloberMSemiBold.woff') format('woff'),
        url('../fonts/GloberMSemiBold.ttf') format('truetype'),
        url('../fonts/GloberMSemiBold.svg#GloberMSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMBold.eot');
    src: url('../fonts/GloberMBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMBold.woff2') format('woff2'),
        url('../fonts/GloberMBold.woff') format('woff'),
        url('../fonts/GloberMBold.ttf') format('truetype'),
        url('../fonts/GloberMBold.svg#GloberMBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM xBold';
    src: url('../fonts/GloberMxBold.eot');
    src: url('../fonts/GloberMxBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMxBold.woff2') format('woff2'),
        url('../fonts/GloberMxBold.woff') format('woff'),
        url('../fonts/GloberMxBold.ttf') format('truetype'),
        url('../fonts/GloberMxBold.svg#GloberMxBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMRegular.eot');
    src: url('../fonts/GloberMRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMRegular.woff2') format('woff2'),
        url('../fonts/GloberMRegular.woff') format('woff'),
        url('../fonts/GloberMRegular.ttf') format('truetype'),
        url('../fonts/GloberMRegular.svg#GloberMRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM Book';
    src: url('../fonts/GloberMBook.eot');
    src: url('../fonts/GloberMBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMBook.woff2') format('woff2'),
        url('../fonts/GloberMBook.woff') format('woff'),
        url('../fonts/GloberMBook.ttf') format('truetype'),
        url('../fonts/GloberMBook.svg#GloberMBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMRegular_1.eot');
    src: url('../fonts/GloberMRegular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMRegular_1.woff2') format('woff2'),
        url('../fonts/GloberMRegular_1.woff') format('woff'),
        url('../fonts/GloberMRegular_1.ttf') format('truetype'),
        url('../fonts/GloberMRegular_1.svg#GloberMRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMBold_1.eot');
    src: url('../fonts/GloberMBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMBold_1.woff2') format('woff2'),
        url('../fonts/GloberMBold_1.woff') format('woff'),
        url('../fonts/GloberMBold_1.ttf') format('truetype'),
        url('../fonts/GloberMBold_1.svg#GloberMBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM Book';
    src: url('../fonts/GloberMBook_1.eot');
    src: url('../fonts/GloberMBook_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMBook_1.woff2') format('woff2'),
        url('../fonts/GloberMBook_1.woff') format('woff'),
        url('../fonts/GloberMBook_1.ttf') format('truetype'),
        url('../fonts/GloberMBook_1.svg#GloberMBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM';
    src: url('../fonts/GloberMSemiBold_1.eot');
    src: url('../fonts/GloberMSemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMSemiBold_1.woff2') format('woff2'),
        url('../fonts/GloberMSemiBold_1.woff') format('woff'),
        url('../fonts/GloberMSemiBold_1.ttf') format('truetype'),
        url('../fonts/GloberMSemiBold_1.svg#GloberMSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GloberM xBold';
    src: url('../fonts/GloberMxBold_1.eot');
    src: url('../fonts/GloberMxBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GloberMxBold_1.woff2') format('woff2'),
        url('../fonts/GloberMxBold_1.woff') format('woff'),
        url('../fonts/GloberMxBold_1.ttf') format('truetype'),
        url('../fonts/GloberMxBold_1.svg#GloberMxBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

