// --- basic input ---
.input {
  position: relative;
  display: block;
  width: 100%;

  &__caption {
    position: absolute;
    top: 23px;
    left: 17px;
    pointer-events: none;
    transition: all 0.1s ease-out 0s;
    font-size: 17px;
    color: #758191;

    &.is-active {
      top: 12px;
      left: 17px;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.2;
      text-overflow: ellipsis;
      width: 100%;
      padding-right: 30px;
    }
  }

  &__text {
    background: #f0f2f3;
    border-radius: 4px;
    width: 100%;
    border: none;
    outline: none;
    transition: all 0.1s ease-out 0s;
    padding: 31px 17px 10px;
    font-size: 17px;
    color: #333333;
    border: 2px solid transparent;

    &.is-error {
      border: 2px solid #EE1865;
    }

    &:focus {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }

    &:focus ~ .input__caption {
      @extend .is-active
    }

    &[disabled] {
      border: 2px solid #efefef;
      background: transparent;
    }
  }
}

// --- checkbox ---
.input--checkbox {
	.input__label {
		font-size: 16px;
		line-height: 24px;
		color: #29313a;
	}
}

.input__checkbox {
  display: none;

  & + span {
    user-select: none;
    display: block;
    padding-left: 50px;
    padding-top: 21px;
    &::before {
      position: absolute;
      top: 17px;
      left: 0;

      display: inline-block;
      box-sizing: border-box;
      margin-right: 10px;

      content: "";
      cursor: pointer;
			background: #F0F2F3;
      border-radius: 2px;
      outline: none;

      width: 30px;
      height: 30px;
      transition: background-color 0.3s ease;
    }
  }

  &:checked + span {
    &::before {
      content: "";

      border: none;
      background-color: #e9f4a2;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEISURBVHgBnZIxUsJAFIbf21jYmCWdTR7LDTwCdLaeQD2B3sC0VnoDKb2FegIo7YSlkY6kZ5d/YZJhEpgQ/plMJjvv+/P/LyE6U9xl2EBr578ixSPVBVw790LMs6CLUyER8+TJP0RMg1OZbcRU+l5EsvKstSOYHnpNGJN2Pq/e1hrVhV7ERjEP6o7DY1DoVY9YKopjPdFaX+Z5/lMzNM77T0T8t9beNcEkWZKn957WtA9fwRC3a/LusSiK3wZYrFbTWCdhSVkJI9obet3iGi8W9vVQjWqrqcgYj/c4+UaCISLOsJBR+NiHwOrPiZR6xvA0QDtLzo5BDYWFiPT/UjEf1FVgb4JB29wGtYJahfqqbqYAAAAASUVORK5CYII=);
			background-repeat: no-repeat;
      background-position: 9px 7px;
      background-size: 14px 15px;
    }
  }

  &[disabled] + span {
    &::before {
			background-color: #F0F2F3;
    }
  }

  &[disabled]:checked + span {
    &::before {
			background-color: #F0F2F3;
    }
  }
}

// --- select ---
.input--select {
  cursor: pointer;
  &__value {
    @extend .input__text;
    display: block;
    padding-left: 15px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  [disabled] + .input--select__value {
    @extend .input__text[disabled];
  }

  &:after {
    width: 12px;
    height: 7px;
    background: url('../../img/select-arrow.png');
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -2px;
  }

  .input__caption {
    @extend .is-active;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background: #f0f2f3;
    z-index: 1;
  }
  
  &__item {
    padding: 17px 30px 17px 17px;
    &:hover {
      background: rgba(0,0,0,.05);
    }
  }

  &.is-opened {
    .input--select__value {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
    .input--select__dropdown {
      display: block;
    }
    &:after {
      transform: rotate(180deg);
    }
  }
}

// country select
.country-phone {
  display: flex;

  .input--select .input--select__value {
    padding: 13px 16px 23px;
    text-align: center;
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
  }

  // .input .input__text {
  //   border-top-left-radius: 0;
  //   border-bottom-left-radius: 0;
  // }

  .input--select {
    width: 57px;
    margin-right: 2px;

    &:after {
      right: 21px;
      top: 50%;
      margin-top: 11px;
    }
  }
}