.caption {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a8b1ba;
  font-weight: 700;
}

.link {
  font-size: 19px;
  line-height: 22px;
  margin-right: 10px;
  color: #31a6ea;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover {
    border-bottom: none;
  }
}
.pdf {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;

  color: #9ab5c4;
  text-decoration: none;
  font-weight: 700;
}

.demo-box {
  padding: 20px;
  float: left;
  width: 25%;
}

// -- helper --
.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.hidden {
  display: none !important;
}

.tar {
  text-align: right !important;
}

.tac {
  text-align: center !important;
}

.bold {
  font-weight: 600 !important;
}

.bolder {
  font-weight: 700 !important;
}

.black {
  color: #000000 !important;
}

.error {
  color: #EB001C !important;
}
