.caption {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a8b1ba;
  font-weight: 700;
}

.link {
  font-size: 19px;
  line-height: 22px;
  margin-right: 10px;
  color: #31a6ea;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover {
    border-bottom: none;
  }
}

.file-link {
  font-size: 17px;
  line-height: 24px;
  color: #333333;
  position: relative;
  padding-left: 30px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEkSURBVHgBpZLdacMwEMcrWQY/OiNkgiQjdAN3g3SCYvDHY9VnG0QnKJkgzgTuBm0maLOBCrYx+Kv/Mw30KZHIwdm6j9/pJB27MxSllN+2re95ng7DUJ/9zATs+/6ZMRb8uXxo4TjOCwp9cwO4xHJRVdUmiqIldDFN0wn+/cUO/sFHIYTsuk6hC38cx9c0TYssy0rO+Y6ZwMMwlAAPKFDAt4dvifgW9kqYwNAddpUUz/NcI76mNYr+cEv4DefXiH1i9yfqSFjCa+Q8wCyxPiRJ8s5sYcTp9o9xHG/nV7gFJuFIVmcnPZUNTCKQECBhQ0bTNI9SSm0Kzx3Qh+ab/rbwfAeYKInkleu6IWxNRzKF5w4QlBjJE8AP6BcNR13X94CDazDJL0o8PpHX0xwCAAAAAElFTkSuQmCC);
  }
}

.pdf {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;

  color: #9ab5c4;
  text-decoration: none;
  font-weight: 700;
}

.social {
  display: flex;
  justify-content: center;
  padding: 9px 0 0 0;
  margin: 0 0 43px 0;
  li {
    display: block;
    &:hover {
      opacity: 0.9;
    }
  }
}

.demo-box {
  padding: 20px;
  float: left;
  width: 25%;
}

// -- helper --
.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.hidden {
  display: none !important;
}

.tar {
  text-align: right !important;
}

.tac {
  text-align: center !important;
}

.bold {
  font-weight: 600 !important;
}

.bolder {
  font-weight: 700 !important;
}

.black {
  color: #000000 !important;
}

.error,
.red {
  color: #eb001c !important;
}
