.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.popup {
  width: 760px;
  background: #ffffff;
  box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.102);
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  .social {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  &__caption {
    font-size: 22px;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: initial;
    }
  }

  &__column {
    padding: 20px;
    width: 100%;
    @media (min-width: 1024px) {
      width: 50%;
      padding: 70px;
    }

    &--left {
      border-bottom: 1px solid #ccc;
      @media (min-width: 1024px) {
        border-bottom: none;
        border-right: 1px solid #ccc;
      }
    }
  }

  .input {
    margin-bottom: 30px;
  }

  .btn {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 18px;
    @media (min-width: 1024px) {
      top: 30px;
      right: 30px;
    }
    width: 25px;
    height: 25px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACKSURBVHgBtZaLCcAgEEMzgiM4ghvVzTtKK61CsYi/ewFBhEvw/tILJwb+eznTCbJFyLyufrASavJZCXV5doWG7VeFpu1mDZY9MGq4HcsegVlWtois0/5HaC5QCx2UQEFM58pCCMpPomBXYTHBswuvE7zi8d6Fd2F8nuCTEZ/xTuy24suDF4NnHboBvAM4krd86FYAAAAASUVORK5CYII=);
  }
}
