
.footer {
    margin: 85px 0 74px;
    text-align: center;
    h3 {
      font-size: 19px;
      line-height: 28px;
      text-align: center;
  
      color: #333333;
    }
    &__link {
      font-size: 15px;
      line-height: 22px;
    }
  }
  