.logo {
  background: url(../img/logo.svg);
  width: 300px;
  height: 294px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  top: 152px;
  left: 0;
  right: 0;

  @media (min-width: 1024px) {
    top: 300px;
    left: 50%;
    margin: 0;
    margin-left: -400px;
  }

  @media (min-width: 1230px) {
    width: 511px;
    margin-left: -600px;
  }
}

.header {
  background-image: url(../img/background.png);
  background-size: 1920px 931px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 931px;
  width: 100%;
  font-weight: 600;

  &__left {
    padding: 43px 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 1024px) {
      margin: 61px 0 0 60px;
      width: auto;
      float: left;
    }

    li {
      vertical-align: middle;
      text-align: center;
      width: 33%;
      padding: 0 10px;
      img {
        max-width: 100%;
      }
      @media (min-width: 1024px) {
        text-align: left;
        padding: 0;
        margin-right: 42px;
        width: auto;
        display: inline-block;
      }
    }

    .burger {
      width: 29px;
      height: 23px;
      display: inline-block;
      background: url("../../img/burger.svg");
      cursor: pointer;
      @media (min-width: 1024px) {
        display: none;
      }
    }

    .icon-close {
      width: 23px;
      height: 23px;
      display: none;
      background: url("../../img/close.svg");
      cursor: pointer;
    }
  }

  &__lang {
    display: none;
    @media (min-width: 1024px) {
      display: inline-block;
    }
  }

  &__menu-item {
    font-weight: 700;
  }

  &__right {
    margin: 70px 0 0;
    display: none;
    > li {
      display: block;
      text-align: center;
      margin: 0 0 30px;
      @media (min-width: 1024px) {
        display: inline-block;
        vertical-align: middle;
        margin: 0 42px 0 0;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }

    @media (min-width: 1024px) {
      margin: 98px 20px;
      float: right;
    }
  }

  &__layer {
    height: 275px;
    width: 310px;
    margin: 0 auto;
    background: url(../img/header-layer.png) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 400px;
    padding: 36px 40px;
    text-align: center;
    left: 0;
    right: 0;

    p {
      text-align: center;
      font-weight: 600;
      color: #000000;
      margin: 0 0 5px 0;
      font-size: 16px;
      line-height: 28px;

      @media (min-width: 1024px) {
        font-size: 19px;
        line-height: 31px;
        margin: 20px 0;
      }
    }

    @media (min-width: 1024px) {
      width: 385px;
      top: 276px;
      left: 50%;
      right: auto;
    }
  }
}

.dropdown {
  background: #ffffff;
  box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.4);
  border-radius: 10px;
  text-align: left !important;
  margin: 0 20px;
  font-weight: normal;

  &__user {
    padding: 28px;
    position: relative;
    border-bottom: 1px solid #d8e7ef;
  }

  &__av {
    width: 34px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }
  &__username {
    padding-left: 50px;
  }

  &__links {
    border-bottom: 1px solid #d8e7ef;
    padding: 28px 28px 8px;
  }

  &__link {
    color: #31a6ea;
    position: relative;
    height: 50px;
    padding: 15px 0 15px 50px;

    &--copy {
      &::after {
        content: "";
        height: 21px;
        width: 21px;
        background: url("../../img/copy.png");
        display: block;
        position: absolute;
        top: 50%;
        left: 16px;
        margin-top: -10px;
      }
    }

    &--exit {
      &:after {
        content: "";
        height: 20px;
        width: 21px;
        background: url("../../img/exit.png");
        display: block;
        position: absolute;
        top: 50%;
        left: 17px;
        margin-top: -11px;
      }
    }
  }

  &__team {
    padding: 28px;
  }
  &__team-member {
    position: relative;
    height: 50px;
    padding: 15px 0;
  }

  &__caption {
    font-size: 14px;
    color: #6a6a6a;
    padding-left: 50px;
  }
}

.lang-link {
  display: inline-block;
  opacity: 0.5;
  text-decoration: none;
  margin-right: 18px;
  img,
  span {
    vertical-align: middle;
  }
  span {
    color: white;
  }
  &.is-active {
    opacity: 1;
  }
}

// mobile menu opened
.is-menu-opened {
  @media (max-width: 1024px) {
    > * {
      display: none;
    }

    .header {
      background-image: none;
      background-color: #658cee;
      height: auto;
      padding-bottom: 100px;
      display: block;
    }

    .header__lang {
      position: absolute;
      bottom: -90px;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      .lang-link:last-child {
        margin-right: 0;
      }
    }

    .header__layer {
      display: none;
    }

    .header__right {
      display: block;
      border-top: 1px solid #d8e7ef;
      margin: 20px;
      padding-top: 30px;
    }

    .logo {
      display: none;
    }

    .icon-close {
      display: inline-block;
    }

    .burger {
      display: none;
    }
  }
}
