.register {
  .mountains {
    background-image: url(../img/mountains.png);
    background-size: 1920px 802px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 802px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: -380px;
  }

  @media (min-width: 1024px) {
    margin-top: 231px;
  }
  margin-top: 100px;
  padding-top: 67px;
  position: relative;
  text-align: center;

  &__dash {
    display: none;
    position: absolute;
    left: 50%;
    top: -184px;
    margin-left: -40px;
    @media (min-width: 1024px) {
      display: block;
    }
  }

  h2 {
    @media (min-width: 1024px) {
      font-size: 49px;
    }
    font-size: 36px;
    line-height: 56px;
    color: #333333;
    margin: 0;
  }

  &__row {
    margin-top: 104px;
  }

  &__box {
    display: inline-block;
    @media (min-width: 1024px) {
      width: 360px;
    }
    @media (min-width: 640px) {
      padding: 97px 40px 0;
    }
    margin: 0 20px 70px;
    height: 471px;
    background: #ffffff;
    box-shadow: 0px 30px 90px rgba(29, 43, 57, 0.17);
    border-radius: 20px;
    position: relative;
    padding: 97px 10px 0;
    img {
      position: absolute;
      top: -37px;
      margin-left: -60px;
      left: 50%;
    }
    h3 {
      font-size: 30px;
      line-height: 39px;
      text-align: center;

      color: #585e65;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;

      color: #333333;
      margin-bottom: 42px;
    }
  }
}
