.smi {
  position: relative;
  margin: 50px 20px 0;
  @media (min-width: 1024px) {
    margin: 155px 0 0;
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
  &__dash {
    display: none;
    position: absolute;
    left: 50%;
    top: -113px;
    margin-left: -44px;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &__img {
    max-width: 100%;
    margin-bottom: -60px;
    @media (min-width: 1024px) {
      margin: 42px 0 0 54px;
    }
  }
  &__footer {
    padding: 21px 0;
    .btn {
      margin-bottom: 30px;
    }
    text-align: center;
    @media (min-width: 1024px) {
      text-align: left;
    }
  }
  &__links {
    text-align: center;
    @media (min-width: 1024px) {
      float: right;
      margin: 21px 0 0 0px;
      text-align: right;
    }
  }
  &__article {
    padding: 0;
    @media (min-width: 1024px) {
      margin: 106px 200px 0 37px;
      width: 456px;

      float: right;
    }
  }

  h2 {
    font-size: 36px;
    @media (min-width: 1024px) {
      font-size: 49px;
    }
    line-height: 58px;
    color: #333;
    margin: 14px 0;
  }

  p {
    font-size: 16px;
    @media (min-width: 1024px) {
      font-size: 22px;
    }
    line-height: 37px;
    margin: 26px 0;
  }
}
